.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.heading-container .back-cta {
    width: 90px;
}

.back-cta .back-cta-icon {
    margin: 0 25px;
    font-size: 32px;
    cursor: pointer;
    color: #000;
}

.upper-body {
    display: flex;
    justify-content: space-around;
}

.upper-body .upper-body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.upper-body .upper-body-right {
    min-width: 375px;
}

.each-row {
    display: flex;
}
.each-row .each-row-value {
    margin-left: 15px;
}
